{% extends 'base.html' %}
{% load markdownify%}
{% load static%}

{% block content %}
  <main class="recipes-detail">
    <div>
      <a href="{% url 'mealplans_edit' mealplans.id %}">Edit</a>
      <a href="{% url 'mealplans_delete' mealplans.id %}">Delete</a>
    </div>
    <h2>Mealplans for {{ user }} on Sep 1, 2022</h2>
    {% for recipe in mealplans.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}